@model STWC_Timesheet.Models.InputModels

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <section class="regsection">
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.rankid)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.rankid)
                    @Html.ValidationMessageFor(model => model.UserModel.rankid)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.email)
                    @Html.ValidationMessageFor(model => model.UserModel.email)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.firstname)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.firstname)
                    @Html.ValidationMessageFor(model => model.UserModel.firstname)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.passport_number)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.passport_number)
                    @Html.ValidationMessageFor(model => model.UserModel.passport_number)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.lastname)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.lastname)
                    @Html.ValidationMessageFor(model => model.UserModel.lastname)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.cdc_number)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.cdc_number)
                    @Html.ValidationMessageFor(model => model.UserModel.cdc_number)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.signon_date)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.signon_date)
                    @Html.ValidationMessageFor(model => model.UserModel.signon_date)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.signoff_date)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.signoff_date)
                    @Html.ValidationMessageFor(model => model.UserModel.signoff_date)
                </div>
            </div>
        </div>
    </section>
    <section class="usersection">
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserModel.user_name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserModel.user_name)
                    @Html.ValidationMessageFor(model => model.UserModel.user_name)
                </div>
            </div>
            <div class="colDiv">
                Use default password for the first time.<br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    
</section>
<fieldset style="text-align: right;">
    <input type="submit" value="Create" />
</fieldset>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '2014:2050',
                showButtonPanel: true,
                dateFormat: 'mm/dd/yy'
            });
        });
    </script>
}
