@model STWC_Timesheet.user

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.password, new { @Value = "Password" })
    @Html.HiddenFor(model => model.ship_id, new { @Value = 1 })
    @Html.HiddenFor(model => model.ConfirmPassword, new { @Value = "Password" })
    <div class="regsection">
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.rank_id)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.rank_id, (SelectList)ViewBag.Rank_Type, "Please Select")
                    @Html.ValidationMessageFor(model => model.rank_id)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.firstname)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.firstname)
                    @Html.ValidationMessageFor(model => model.firstname)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.passport_number)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.passport_number)
                    @Html.ValidationMessageFor(model => model.passport_number)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.lastname)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.lastname)
                    @Html.ValidationMessageFor(model => model.lastname)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.cdc_number)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.cdc_number)
                    @Html.ValidationMessageFor(model => model.cdc_number)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.signon_date)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.signon_date)
                    @Html.ValidationMessageFor(model => model.signon_date)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.signoff_date)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.signoff_date)
                    @Html.ValidationMessageFor(model => model.signoff_date)
                </div>
            </div>
        </div>
    </div>
    <div class="usersection">
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.user_name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.user_name)
                    @Html.ValidationMessageFor(model => model.user_name)
                </div>
            </div>
            <div class="colDiv">
                Use default password for the first time.<br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    
</div>
<fieldset style="text-align: right;">
    <input type="submit" value="Create" />
</fieldset>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '2014:2050',
                showButtonPanel: true,
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
}
