@model STWC_Timesheet.user

@{
    ViewBag.Title = "Crew Details";
}

<h2>Crew Details</h2>

<fieldset>
    <br />
    <div class="rowDiv" style="display: block;">
        <div class="colDiv" style="width: 100px; font-weight: bold;">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.user_name)
            </div>
        </div>
        <div class="colDiv">
            <div class="display-field">
                @Html.DisplayFor(model => model.user_name)
            </div>
        </div>
    </div>
    <br /><br />
    <div class="rowDiv">
        <div class="colDiv" style="width: 100px; font-weight: bold;">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.firstname)
            </div>
        </div>
        <div class="colDiv">
            <div class="display-field">
                @Html.DisplayFor(model => model.firstname)
            </div>
        </div>
    </div>
    <br /><br />
    <div class="rowDiv">
        <div class="colDiv" style="width: 100px; font-weight: bold;">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.lastname)
            </div>
        </div>
        <div class="colDiv">
            <div class="display-field">
                @Html.DisplayFor(model => model.lastname)
            </div>
        </div>
    </div>
    <br /><br />
    <div class="rowDiv">
        <div class="colDiv" style="width: 100px; font-weight: bold;">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.email)
            </div>
        </div>
        <div class="colDiv">
            <div class="display-field">
                @Html.DisplayFor(model => model.email)
            </div>
        </div>
    </div>
    <br /><br />
    <div class="rowDiv">
        <div class="colDiv" style="width: 100px; font-weight: bold;">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.rank)
            </div>
        </div>
        <div class="colDiv">
            <div class="display-field">
                @Html.DisplayFor(model => model.rank.rank_name)
            </div>
        </div>
    </div>
    <br /><br />
    <div class="rowDiv">
        <div class="colDiv" style="width: 100px; font-weight: bold;">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.signon_date)
            </div>
        </div>
        <div class="colDiv">
            <div class="display-field">
                @Html.DisplayFor(model => model.signon_date)
            </div>
        </div>
    </div>
    <br /><br />
    <div class="rowDiv">
        <div class="colDiv" style="width: 100px; font-weight: bold;">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.signoff_date)
            </div>
        </div>
        <div class="colDiv">
            <div class="display-field">
                @Html.DisplayFor(model => model.signoff_date)
            </div>
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
