@model STWC_Timesheet.user
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <section class="regsection">
        <div class="rowDiv">
            <div class="colDiv">
                @Html.LabelFor(m => m.rank_id)
                @Html.DropDownListFor(m => m.rank_id, (SelectList)ViewBag.Rank_Type_Reg, "Please Select")
            </div>
            <div class="colDiv">
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email)
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                @Html.LabelFor(m => m.firstname)
                @Html.TextBoxFor(m => m.firstname)
            </div>
            <div class="colDiv">
                @Html.LabelFor(m => m.passport_number)
                @Html.TextBoxFor(m => m.passport_number)
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                @Html.LabelFor(m => m.lastname)
                @Html.TextBoxFor(m => m.lastname)
            </div>
            <div class="colDiv">
                @Html.LabelFor(m => m.cdc_number)
                @Html.TextBoxFor(m => m.cdc_number)
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                @Html.LabelFor(m => m.signon_date)
                @Html.EditorFor(m => m.signon_date)
            </div>
        </div>
    </section>
    <section class="usersection">
        <div class="rowDiv">
            <div class="colDiv">
                @Html.LabelFor(m => m.user_name)
                @Html.TextBoxFor(m => m.user_name)
            </div>
            <div class="colDiv">
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password)
            </div>
            <div class="colDiv">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
    
</section>
    <fieldset style="text-align: right;">
        <input type="submit" value="Register" />
    </fieldset>
    
    @Html.ValidationSummary()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '2014:2050',
                showButtonPanel: true,
                dateFormat: 'mm-dd-yy'
            });
        });
    </script>
}
