@model STWC_Timesheet.ship

@{
    ViewBag.Title = "Register Ship";
}

<h2>Register Ship</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ship_id)    
    
    <section class="regsection">
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ship_name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ship_name)
                    @Html.ValidationMessageFor(model => model.ship_name)
                </div>
            </div>
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ship_IMO)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ship_IMO)
                    @Html.ValidationMessageFor(model => model.ship_IMO)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv" style="width:525px;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.flag)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.flag)
                    @Html.ValidationMessageFor(model => model.flag)
                </div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.serial_number)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.serial_number, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.serial_number)
                </div>
            </div>
        </div>
    </section>
    <section class="usersection">
        <div class="rowDiv">
            <div class="colDiv">
                <div class="editor-label">
                    @Html.LabelFor(model => model.comp_name)
                </div>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.comp_name)
                </div>
            </div>
            <div class="colDiv">
                <br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </section>
    <fieldset style="text-align: right;">
        <input type="submit" value="Update" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
