@model IEnumerable<STWC_Timesheet.ship>

@{
    ViewBag.Title = "Registered Ship";
}

<h2>Registered Ship</h2>

<p>
    
</p>
<div style="width:100%; height: 45px;">
    @*<div class="leftdiv">@Html.ActionLink("Create New", "Create")</div>*@
</div>
<div class="grid">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.serial_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_IMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flag)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.serial_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_IMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ship_id }) |
        </td>
    </tr>
}

</table>
</div>
