@model STWC_Timesheet.user_entry

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>user_entry</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.user_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_id)
            @Html.ValidationMessageFor(model => model.user_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ship_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ship_id)
            @Html.ValidationMessageFor(model => model.ship_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.work_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.work_date)
            @Html.ValidationMessageFor(model => model.work_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.comments)
            @Html.ValidationMessageFor(model => model.comments)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
