@model STWC_Timesheet.user_entry

@{
    ViewBag.Title = "Working Hours";
}

<h2>Working Hours</h2>
<div style="height:315px;">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.entry_id)
        @Html.HiddenFor(model => model.user_id, new { @Value = Session["UserId"] })
        @Html.HiddenFor(model => model.work_date)
        @Html.HiddenFor(model => model.hours_list)

        <div class="halfDiv" style="width: 40%;">
        <div class="calendar" style="margin-top: 10px;"></div>
        <div style="margin: 10px 0 10px 0;">
            <span class="normal"></span> Normal
            <span class="occured"></span> Occured N/C
        </div>
    </div>
    <div class="halfDiv"  style="width: 60%;">
        <fieldset>
            <legend>Crew Information</legend>
            <div class="editor-label">
                <span>Full Name : </span>@Session["FullName"]
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.total_hours)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.total_hours, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.total_hours)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.nc_remarks)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.nc_remarks, new{@readonly = "readonly"})
                @Html.ValidationMessageFor(model => model.nc_remarks)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.comments)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.comments)
                @Html.ValidationMessageFor(model => model.comments)
            </div>
        </fieldset>
        <fieldset style="text-align: right; margin-right:56px">
            <input type="submit" value="Save" />
        </fieldset>
    </div>
    <div style="float: left;">
        <ol id="numbersol">
            <li>0</li>
            <li></li>
            <li>1</li>
            <li></li>
            <li>2</li>
            <li></li>
            <li>3</li>
            <li></li>
            <li>4</li>
            <li></li>
            <li>5</li>
            <li></li>
            <li>6</li>
            <li></li>
            <li>7</li>
            <li></li>
            <li>8</li>
            <li></li>
            <li>9</li>
            <li></li>
            <li>10</li>
            <li></li>
            <li>11</li>
            <li></li>
            <li>12</li>
            <li></li>
            <li>13</li>
            <li></li>
            <li>14</li>
            <li></li>
            <li>15</li>
            <li></li>
            <li>16</li>
            <li></li>
            <li>17</li>
            <li></li>
            <li>18</li>
            <li></li>
            <li>19</li>
            <li></li>
            <li>20</li>
            <li></li>
            <li>21</li>
            <li></li>
            <li>22</li>
            <li></li>
            <li>23</li>
            <li></li>
        </ol>
        <ol id="yestselectable" style="display: none;">
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
        </ol>
        <ol id="selectable">
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
          <li class="ui-widget-content"></li>
        </ol>
    </div>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            var signdate = '@HttpContext.Current.Session["JoinDate"]';
            var weekhours = 0;
            $('.calendar').datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: new Date(signdate),
                maxDate: new Date(),
                onSelect: function (value, date) {
                    $('#work_date').val(value);
                    var id = $('#user_id').val();
                    loadWorkHours();
                }
            });

            var dat = $('.calendar').datepicker({ dateFormat: 'yy-mm-dd' }).val();
            var id = $('#user_id').val();
            $.ajax({
                url: '@Url.Action("LoadWeekHours", "UserEntry")',
                type: 'POST',
                data: { id: id, currdate: dat },
                success: function (data) {
                    if (data != null) {
                        weekhours = data[0].TotHours;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });

            //on initial loading of page
            var work = $("#work_date").val().split(' ');
            var workDate = new Date(work[0]);
            $(".calendar").datepicker({ dateFormat: 'yy-mm-dd' }).datepicker("setDate", workDate);

            if ($('#hours_list').val() != '') {
                var arrtoday = $('#hours_list').val().split(",");
                for (var i = 0; i < arrtoday.length; i++) {
                    $("#selectable li").eq(arrtoday[i]).addClass('ui-selected');
                }
            }

            if ($('#total_hours').val() > 14) {
                $('td.ui-datepicker-current-day a').addClass('ui-occured');
            } else {
                $('td.ui-datepicker-current-day a').removeClass('ui-occured');
            }

            $('#work_date').val($('.calendar').datepicker({ dateFormat: 'yy-mm-dd' }).val());

            //code for selector
            var _selectRange = false, _deselectQueue = [];
            $(function () {
                $("#selectable").selectable({
                    selecting: function (event, ui) {
                        if (event.detail == 0) {
                            _selectRange = true;
                            return true;
                        }
                        if ($(ui.selecting).hasClass('ui-selected')) {
                            _deselectQueue.push(ui.selecting);
                        }
                    },
                    unselecting: function (event, ui) {
                        $(ui.unselecting).addClass('ui-selected');
                    },
                    stop: function () {
                        if (!_selectRange) {
                            $.each(_deselectQueue, function (ix, de) {
                                $(de)
                        .removeClass('ui-selecting')
                        .removeClass('ui-selected');
                            });
                        }
                        _selectRange = false;
                        _deselectQueue = [];

                        var result = '';
                        var count = 0;
                        $(".ui-selected", this).each(function () {
                            var index = $("#selectable li").index(this);
                            result = result + index + ",";
                            count = count + 1;
                        });

                        var longrest = 0;
                        var shortrest = 0;
                        var currentrest = 0;
                        var longwork = 0;
                        var shortwork = 0;
                        var currentwork = 0;
                        arrStatic = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47];
                        for (var a = 0; a <= 47; a++) {
                            if (!$("#yestselectable li").eq(arrStatic[a]).hasClass('ui-selected')) {
                                currentrest += 1;
                                if (shortwork > longwork)
                                    longwork = shortwork;

                                shortwork = currentwork;
                                currentwork = 0;
                            }
                            else {
                                currentwork += 1;
                                if (shortrest > longrest)
                                    longrest = shortrest;

                                shortrest = currentrest;
                                currentrest = 0;
                            }
                        }
                        longrest = 0;
                        currentrest = 0;
                        for (var m = 0; m <= 47; m++) {
                            if (!$("#selectable li").eq(arrStatic[m]).hasClass('ui-selected')) {
                                currentrest += 1;
                                if (shortwork > longwork)
                                    longwork = shortwork;

                                shortwork = currentwork;
                                currentwork = 0;
                            }
                            else {
                                currentwork += 1;
                                if (shortrest > longrest)
                                    longrest = shortrest;

                                shortrest = currentrest;
                                currentrest = 0;
                            }
                        }
                        if (currentrest > longrest)
                            longrest = currentrest;
                        
                        $('#work_date').val($('.calendar').datepicker({ dateFormat: 'yy-mm-dd' }).val());
                        var workedhours = 0;
                        if (count > longwork) {
                            workedhours = count / 2
                        } else {
                            workedhours = longwork / 2;
                        }
                        var resthours = 24 - workedhours;
                        $('#total_hours').val(count / 2);
                        $('#hours_list').val(result.substr(0, result.length - 1));

                        var errMsg10 = '';
                        var errMsg6 = '';
                        var errMsg7 = '';
                        var finalMsg = '';
                        $('#nc_remarks').val('');

                        if (resthours < 10) {
                            errMsg10 = "A minimum of 10 hours of rest in any 24-hour period";
                        } else {
                            errMsg10 = "";
                        }

                        if ((longrest / 2) < 6) {
                            errMsg6 = "One of rest hour should be at least 6 hours";
                        } else {
                            errMsg6 = "";
                        }

                        if ((weekhours + (count / 2)) > 91) {
                            errMsg7 = "77 hours of rest in any seven-day period";
                        } else {
                            errMsg7 = "";
                        }

                        if (errMsg10 != '' && errMsg6 != '' && errMsg7 != '') {
                            finalMsg = errMsg10 + ", " + errMsg6 + ", " + errMsg7;
                        } else if (errMsg10 != '' && errMsg6 != '') {
                            finalMsg = errMsg10 + ", " + errMsg6;
                        } else if (errMsg10 != '' && errMsg7 != '') {
                            finalMsg = errMsg10 + ", " + errMsg7;
                        } else if (errMsg6 != '' && errMsg7 != '') {
                            finalMsg = errMsg6 + ", " + errMsg7;
                        }
                        else {
                            finalMsg = errMsg10 + errMsg6 + errMsg7;
                        }

                        if (finalMsg.trim() == '') {
                            $('td.ui-datepicker-current-day a').removeClass('ui-occured');
                            $('#nc_remarks').val('');
                        } else {
                            $('td.ui-datepicker-current-day a').addClass('ui-occured');
                            $('#nc_remarks').val(finalMsg);
                        }
                    }
                });
            });
        });

        function loadWorkHours() {
            var dat = $('.calendar').datepicker({ dateFormat: 'yy-mm-dd' }).val();
            var id = $('#user_id').val();
            $.ajax({
                url: '@Url.Action("LoadWorkedHours", "UserEntry")',
                type: 'POST',
                data: { id: id, currdate: dat },
                success: loadform,
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        }

        //on click on date in calendar
        function loadform(data) {
            var currDate = $('.calendar').datepicker({ dateFormat: 'yy-mm-dd' }).val();
            var yestDate = new Date($('.calendar').datepicker({ dateFormat: 'yy-mm-dd' }).val());
            yestDate = new Date(yestDate.setDate(yestDate.getDate() - 1));
            var dd = ("0" + yestDate.getDate()).slice(-2);
            var mm = ("0" + (yestDate.getMonth() + 1)).slice(-2);
            var yyyy = yestDate.getFullYear();
            yestDate = yyyy + "-" + mm + "-" + dd;

            $("#yestselectable li").removeClass('ui-selected');
            $("#selectable li").removeClass('ui-selected');
            $("#entry_id").val('');
            $("#total_hours").val('');
            $("#nc_remarks").val('');
            $("#comments").val('');

            if (data != null) {
                for (var j = 0; j < data.length; j++) {
                    if (ConvertJsonDateString(data[j].work_date) == yestDate) {
                        if (data[j].hours_list != '') {
                            var arryest = (data[j].hours_list).split(",");
                            for (var h = 0; h < arryest.length; h++) {
                                $("#yestselectable li").eq(arryest[h]).addClass('ui-selected');
                            }
                        }
                    } else if (ConvertJsonDateString(data[j].work_date) == currDate) {
                        //total hours
                        $("#total_hours").val(data[j].total_hours);
                        if ($('#total_hours').val() > 14) {
                            $('td.ui-datepicker-current-day a').addClass('ui-occured');
                        } else {
                            $('td.ui-datepicker-current-day a').removeClass('ui-occured');
                        }

                        //NC Remarks and comments
                        $("#entry_id").val(data[j].entry_id);
                        $("#work_date").val(data[j].work_date);
                        $("#nc_remarks").val(data[j].nc_remarks);
                        $("#comments").val(data[j].comments);

                        //hours list
                        $("#selectable li").removeClass('ui-selected');
                        var arrtoday = (data[j].hours_list).split(",");
                        for (var r = 0; r < arrtoday.length; r++) {
                            $("#selectable li").eq(arrtoday[r]).addClass('ui-selected');
                        }
                    }
                }
            } else {
                $("#entry_id").val('');
                $("#total_hours").val('');
                $("#nc_remarks").val('');
                $("#comments").val('');
                $("#selectable li").removeClass('ui-selected');
            }
        }

        function ConvertJsonDateString(jsonDate) {
            var shortDate = null;
            if (jsonDate) {
                var regex = /-?\d+/;
                var matches = regex.exec(jsonDate);
                var dt = new Date(parseInt(matches[0]));
                var month = dt.getMonth() + 1;
                var monthString = month > 9 ? month : '0' + month;
                var day = dt.getDate();
                var dayString = day > 9 ? day : '0' + day;
                var year = dt.getFullYear();
                shortDate = year + '-' + monthString + '-' + dayString;
            }
            return shortDate;
        };
    </script>
}
