@model STWC_Timesheet.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>


<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <p>The <b>International Convention on Standards of Training, Certification and Watchkeeping for Seafarers</b> (or <b>STCW</b>), 
    1978 sets qualification standards for masters, officers and watch personnel on seagoing merchant ships. 
    STCW was adopted in 1978 by conference at the International Maritime Organization (IMO) in London, 
    and entered into force in 1984. The Convention was significantly amended in 1995.</p>
    <p>Check compliance with STCW 2010, ILO MLC, US OPA 90 and OCIMF recommendations</p>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
