@model STWC_Timesheet.Models.InputModel

@{
    ViewBag.Title = "Input Data";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="InputForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="halfDiv" style="padding-right: 20px;">
            <fieldset>
                <legend>Calendar</legend>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.Position)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Position)
                    @Html.ValidationMessageFor(m => m.Position)
                </div>
            </fieldset>
            <fieldset>
                <legend></legend>
            </fieldset>
        </div>
        
        <div class="halfDiv">
            <fieldset>
                <legend>Crew Information</legend>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.Position)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Position)
                    @Html.ValidationMessageFor(m => m.Position)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.FullName)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.FullName) @Html.ActionLink("Add Crew Member", "NewCrew") 
                    @Html.ValidationMessageFor(m => m.FullName)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.Comments)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Comments)
                    @Html.ValidationMessageFor(m => m.Comments)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.ServiceTerms)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ServiceTerms)
                    @Html.ValidationMessageFor(m => m.ServiceTerms)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.NonConformities)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NonConformities)
                    @Html.ValidationMessageFor(m => m.NonConformities)
                </div>
                
                <p>
                    <input type="submit" value="Log On" />
                </p>
            </fieldset>
        </div>
    
        <div>
            <fieldset>
                <legend></legend>
            </fieldset>
        </div>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
